
$path-gamble: url(/algostakes/public/images/gambling.jpg);
$path-race: url(/algostakes/public/images/racecar.jpg);
$path-garage: url(/algostakes/public/images/temp-background.jpg);


.bg-gamble {
    background-image: $path-gamble;
}

.bg-race {
    background-image: $path-race;
}

.bg-login {
    background-color:#151020 ;
}

.bg-garage {
    background-image: $path-garage;
}

#app {
    height: 100%;
    background: #151020;
    font-weight: normal !important;
}
.bg { 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    background: #151020;
}