.jumbotron, .panel {
    
    .panel-heading{
        color: #FFCF00;
        background: transparent;
        border-bottom: none;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }
    
    .panel-body {
        text-align: center;
        color: #FFCF00;
        text-transform: uppercase;
    }
    img {
        max-width: 125px;
        margin:100px 20px 40px;
    }
    form {
         text-align: center;
         label{
            font-weight: normal !important;
         }
    }
    input {
        background: transparent;
        font-size: 18px;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #FFCF00;
        color: #FFCF00;
        padding: 4px 10px;
        outline: 0;
    }
    
    input::placeholder{
        color: #76706f;
        font-size: 18px;
        font-family: Avenir-Light;
        text-transform: uppercase;
        padding: 4px;
        outline: 0;
    }
    
    .btn-auth{
        background: #151020;
        border: 2px solid #FFCF00;
        font-family: Avenir-Light;
        font-size: 16px;
        color: #FFFFFF;
        text-transform: uppercase !important;
        border-radius: 0;
        right:0;
        width: 100%;
    }
}

hr {
    border: 0.5px solid #301D5A;
    float: left;
    width: 100%;
    margin: 10px
}
.panel-default {
    border-color: transparent;
    background: transparent;
}
th {
    text-align: center;
    color: #000;
}

  /*
  form {
    text-align: center;
  }
  
  label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
  }
  label .label-text {
    color: #FFCF00;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px); // where it is
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
  }
  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #FFCF00;
    color: #FFCF00;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  }
  label input:focus {
    max-width: 100%;
    width: 400px;
  }
  label input:focus + .label-text {
    color: #F0F0F0;
    font-size: 13px;
    -moz-transform: translateX(-174px);
    -ms-transform: translateX(-174px); // end
    -webkit-transform: translateX(-174px);
    transform: translateX(-174px);
    -moz-transform: translateY(-34px); // where it is
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
  }
  label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateX(-74px);
    -ms-transform: translateX(-74px);
    -webkit-transform: translateX(-74px);
    transform: translateX(-74px);
  }
  button:hover, button:focus {
    background-color: white;
    color: #333333;
    outline: 0;
  }*/