.navbar {
    margin-bottom: 0 !important;
}

.panel-list {
    background: #fff !important;
    color: #646567 !important;
}
.circle {
    margin: 0 auto !important;
    display: block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0;
}

.bg-green {
    background: green;
}
.bg-red {
    background: rgb(172, 14, 14);
}

.btn-link{
    background: none;
    border: none;
    font-family: Avenir-Light;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase !important;
    border-radius: 0; 
    float:left;
    right:0;  
}
.btn-link:hover{
    text-decoration: none;
    color: #FFCF00;
}